// DEBUGGER
// *
//   outline: solid 2px rgba(0, 250, 250, 0.15) !important

div.card
	background-color: rgba(0, 0, 0, 0)
	div.card-header
		height: calc(100vh / 6)
		background-color: rgba(0, 0, 0, 0)
		div
			height: 100%

body
	background-color: #111111

svg
	height: 100%
	max-width: 80vw
	path
		stroke: white
		fill-opacity: 0
		fill: red
		stroke-width: 1px

div[aria-expanded="true"]
	svg
		path
			fill: white
			fill-opacity: 10
			transform: fill 1s ease-out

#headingZero
	height: calc(100vh / 6 * 2)
	svg
		path
			fill-opacity: 1
			fill: white

div.thumbnail
	margin-bottom: 1rem
	img
		margin-bottom: 0.5rem
	p
		transition: 0.3s transform ease-out
		font-family: 'Roboto Mono', monospace
		font-weight: bold
		letter-spacing: 0.05rem
		margin-bottom: 0
	c
		font-weight: 300
		font-style: italic
		letter-spacing: 0.05rem

	&:hover, &:active, &:focus
		transform: scale(1.05)
		a
			text-decoration: none

.modal-content
	background-color: #333333
	color: white
	.modal-header
		border-bottom: 1px solid #515151
		.close
			color: #ffffff
		.modal-title
			p
				font-family: 'Roboto Mono', monospace
				font-weight: 500
				color: #ffffff

	.modal-body
		h5
			font-family: 'Roboto Mono', monospace
			font-weight: 500
			margin-top: 2rem
			margin-bottom: 0rem
			color: #e6e7e8
		p, ul
			font-family: 'Roboto Mono', monospace
			font-weight: 300
			margin-top: 2rem
			margin-bottom: 1rem
			color: #d1d3d4
		a
			color: #d1d3d4
			&:hover, &:focus
				text-decoration: underline

.collapsing
	transition: height 450ms ease


#p5Container
	position: fixed
	canvas
		position: fixed
		top: 0
		left: 0
