// DEBUGGER
// *
//   outline: solid 0.25rem rgba(0, 250, 250, 0.25) !important

// VARIABLES

\:root
  --primary: #00FFD8
  --duotone-darken: --primary
  --duotone-lighten: #25292e

// BOOTSTRAP
.text-primary
  color: var(--primary)!important

// CUSTOM CSS
*
  font-family: Montserrat
  font-weight: 500
  transition: 0.3s

body
  background-color: black

.duotone
  &::before
    background-color: var(--primary)
    transition: background-color 0.3s
    content: ''
    display: block
    width: 100%
    height: 100%
    mix-blend-mode: darken
    position: absolute
    top: 0
    left: 0
  &::after
    background-color: var(--duotone-lighten)
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)(0.4, 0, 0.2, 1)
    content: ''
    display: block
    width: 100%
    height: 100%
    mix-blend-mode: lighten
    position: absolute
    top: 0
    left: 0
    pointer-events: none

#hero
  width: 100%
  height: 100%
  transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1)(0.4, 0, 0.2, 1)
  #bg
    pointer-events: none
    z-index: -10
    position: fixed
    height: 100%
    width: 100%
    background-image: url("../img/heroBg.jpg")
    background-size: cover
    opacity: 1
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1)(0.4, 0, 0.2, 1)
  .col-md-6
    aside
      position: absolute
      bottom: 0
  .scroll-cta
    position: absolute
    bottom: 2.5em
    left: 50%
    z-index: 100
    transform: translateX(-50%)
  .display-1
    margin-left: -0.09em
    font-weight: 600
  #hero-text
    justify-content: center
    flex-direction: column
    display: flex
  #nav
    justify-content: center
    flex-direction: column
    display: flex
    @media screen and (max-width: 767px)
      justify-content: start
    nav
      #lottie-container
        height: 64px
        width: 64px
        transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1)
        *
          stroke: var(--primary)
      ul
        line-height: 3em
        margin-left: 10px
        li
          a
            font-weight: 400
            transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1)
        #btn-1.active
          a
            font-weight: 800
            color: red !important;
        #btn-2.active
          a
            font-weight: 800
            color: aqua !important;
        #btn-3.active
          a
            font-weight: 800
            color: lime !important;