-var titreShort = "about"

ul.list-inline
  li.list-inline-item
    a(href="#" data-toggle="modal" data-target="#" + titreShort) À propos
  li.list-inline-item
    a(href="https://drive.google.com/file/d/1g1hW1I5gMTs5QxWObJDWW72Nf2EWKgpY/view?usp=sharing") CV

div.modal.fade(id=titreShort tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
  div.modal-dialog.modal-md
    div.modal-content
      div.modal-header.container
        h4.modal-title À propos de moi
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      div.modal-body.container
          
        //- À MODIFIER (CONTENU DE LA PAGE)
        img.img-fluid.lazy(data-src-lazy="assets/img/3D/angel.jpg")
        h5 Qui suis-je ? 
        p Bonjour ! 
        p Je suis Charlie Delahousse, étudiant en direction artistique, création et design digital. 
        p Très curieux, Particulièrement intéressé par le motion design et le design d'interaction uttilisant divers outils tel que la 3D, le motion, la vidéo ou autre.
        p Je suis actuellement à la recherche d'une alternance afin de poursuivre ma démarche créative et continuer à apprendre.</br></br>
        
      
        h5 Contact 
        p Je suis disponible pour répondre à toutes vos questions, ainsi que pour vous rencontrer, discuter et partager !
        p mél : charlie@oswin.io
