-var titreShort = "about"

a(href="#" data-toggle="modal" data-target="#" + titreShort) À propos

div.modal.fade(id=titreShort tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
  div.modal-dialog.modal-md
    div.modal-content
      div.modal-header.container
        h4.modal-title À propos de moi
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      div.modal-body.container
          
        //- À MODIFIER (CONTENU DE LA PAGE)
        img.img-fluid.lazy(data-src-lazy="assets/img/3D/angel.jpg")
        p Bonjour ! 
        p Je suis Charlie Delahousse, étudiant en direction artistique, création et design digital. Très curieux, Particulièrement intéressé par le motion design et le design d'interaction uttilisant divers outils tel que la 3D, le motion, la vidéo ou autre. Je suis actuellement à la recherche d'une alternance afin de continuer ma démarche créative et découvrir de nouvelles méthodes de créations. <br/> 
        p contact : charlie@oswin.io
