-var titreShort = "about"

ul.list-inline
  li.list-inline-item
    a(href="#" data-toggle="modal" data-target="#" + titreShort) À propos
  li.list-inline-item
    a(href="https://drive.google.com/file/d/1Uuxd0irNTSPhid5CmF_JyiDKIy06FcRW/view?usp=sharing") CV
      .fa.fa-arrow-down 
      


div.modal.fade(id=titreShort tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
  div.modal-dialog.modal-md
    div.modal-content
      div.modal-header.container
        h4.modal-title À propos
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      div.modal-body.container
          
        //- À MODIFIER (CONTENU DE LA PAGE)
        //- img.img-fluid.lazy(data-src-lazy="assets/img/3D/angel.jpg")
        h5 Charlie Delahousse 
        p Bonjour ! 
        p Je suis Charlie Delahousse, étudiant en 5ème année en direction artistique, création et design digital à e-artsup Paris.
        p Très curieux, Particulièrement intéressé par le motion design et le design d'interaction.
        p Je suis actuellement à la recherche d'un CDD ou stage de fin d'études afin d'évoluer dans ma vie professionelle.</br></br>
        
      
        h5 Contact 
        p Je suis disponible pour répondre à toutes vos questions, ainsi que pour vous rencontrer, discuter et partager !
        p mél : charlie@oswin.io
