<a href="#" data-toggle="modal" data-target="#undefined">À propos</a>
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header container">
        <h4 class="modal-title">about</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body container"><img class="img-fluid lazy" data-src-lazy="assets/img/3D/angel.jpg"/></div>
    </div>
  </div>
</div>