
<div class="col-md-6 col-lg-4 thumbnail">
  <div class="text-center"><a href="#" data-toggle="modal" data-target="#Le Saloon"><img class="img-fluid lazy" data-src-lazy="assets/img/3D/le Saloon.jpg"/>
      <p class="text-center text-light">Le Saloon</p>
      <c class="text-center text-light">Sculpting</c></a></div>
</div>
<div class="modal fade" id="Le Saloon" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header container">
        <h4 class="modal-title">Le Saloon</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body container"><img class="img-fluid lazy" data-src-lazy="assets/img/3D/le Saloon.png"/>
        <h5>Illustration</h5>
        <p>Illustration d'une musique de DAMAS, groupe de rock alternatif français.</p>
      </div>
    </div>
  </div>
</div>