
<div class="col-md-6 col-lg-4 thumbnail">
  <div class="text-center"><a href="#" data-toggle="modal" data-target="#leSaloon"><img class="img-fluid lazy" data-src-lazy="assets/img/3D/leSaloon.png"/>
      <p class="text-center text-light">Le Saloon</p>
      <c class="text-center text-light">Sculpting</c></a></div>
</div>
<div class="modal fade" id="leSaloon" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header container">
        <h4 class="modal-title">Le Saloon</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body container"><img class="img-fluid lazy" data-src-lazy="assets/img/3D/angel.jpg"/>
        <h5>Sculpting</h5>
        <p>J'ai réalisé le Sculpting de se modèle à partir d'un modèle d'humain pré-existant. Ce rendu est un premier pas dans la découverte de l'intérface et des outils de Blender 2.8, logiciel open-source et donc entièrement gratuit d'uttilisation.</p><img class="img-fluid lazy" data-src-lazy="assets/img/3D/angelSculpt.jpg"/>
        <h5>Shading et Post-Processing</h5>
        <p>Le Shading a été effectué sur Blender 2.8 et constitue ma première approche du moteur de rendu Eevee. Le post-processing quant à lui, a été effectué sur AfterEffects.</p><img class="img-fluid lazy" data-src-lazy="assets/img/3D/angelBreakdown.jpg"/>
      </div>
    </div>
  </div>
</div>