
<div class="col-md-6 col-lg-4 thumbnail">
  <div class="text-center">
    <p href="#" data-toggle="modal" data-target="#lotrMap1"><img class="img-fluid" src="assets/img/3D/lotrMap1.jpg"/>
      <p class="text-center text-light">L'anneau uniquedddd</p>
    </p>
  </div>
</div>
<div class="modal fade" id="lotrMap1" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">L'anneau uniquedddd</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body"><img class="img-fluid" src="assets/img/3D/lotrMap1.jpg"/>
        <p>"Car rien n'est mauvais au début. Même Sauron ne l'était pas." - Elrond</p>
      </div>
    </div>
  </div>
</div>
