
<div class="col-md-6 col-lg-4 thumbnail">
  <div class="text-center">
    <p href="#" data-toggle="modal" data-target="#lotrMap2"><img class="img-fluid" src="assets/img/3D/lotrMap2.jpg"/>
      <p class="text-center text-light">La quête de l'anneau</p>
    </p>
  </div>
</div>
<div class="modal fade" id="lotrMap2" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">La quête de l'anneau</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body"><img class="img-fluid" src="assets/img/3D/lotrMap2.jpg"/>
        <p>"Déloyal est qui dirait adieu quand la route s'assombrit" - Gimli</p>
      </div>
    </div>
  </div>
</div>