.card {
  background-color: rgba(0, 0, 0, 0);
}
.card div.card-header {
  height: calc(100vh / 6);
  background-color: rgba(0, 0, 0, 0);
}
.card div.card-header div {
  height: 100%;
}
.card div.card-header:hover {
  cursor: pointer;
}
.card div.card-header:hover svg path {
  stroke: white;
  fill-opacity: 1;
}

body {
  background-color: #0a0a33;
  font-family: "Inter", sans-serif;
  font-weight: 900;
}

svg {
  height: 60%;
  max-width: 80vw;
  margin-left: 40px;
  margin-top: 40px;
}
svg path {
  stroke: white;
  fill-opacity: 0;
  fill: white;
  stroke-width: 1px;
  -webkit-transition: fill-opacity 0.4s ease-out;
  -o-transition: fill-opacity 0.4s ease-out;
  transition: fill-opacity 0.4s ease-out;
}
svg:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transform-origin: center left;
      -ms-transform-origin: center left;
          transform-origin: center left;
  -webkit-transition: -webkit-transform 0.8s ease-out;
  transition: -webkit-transform 0.8s ease-out;
  -o-transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out;
  transition: transform 0.8s ease-out, -webkit-transform 0.8s ease-out;
}

[aria-expanded=true] svg path {
  fill: white;
  fill-opacity: 1;
  -webkit-transition: fill-opacity 0.4s ease-out;
  -o-transition: fill-opacity 0.4s ease-out;
  transition: fill-opacity 0.4s ease-out;
}

#headingZero {
  height: calc(100vh / 6 * 2);
}
#headingZero svg path {
  fill-opacity: 1;
  fill: white;
}

.thumbnail {
  margin-top: 5rem;
}
.thumbnail img {
  margin-bottom: 0.5rem;
  max-height: 400px;
}
.thumbnail p {
  -webkit-transition: 0.3s -webkit-transform ease-out;
  transition: 0.3s -webkit-transform ease-out;
  -o-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out, 0.3s -webkit-transform ease-out;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  letter-spacing: 0.05rem;
}
.thumbnail c {
  font-weight: 400;
  font-style: italic;
  letter-spacing: 0.05rem;
}
.thumbnail:hover, .thumbnail:active, .thumbnail:focus {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.6s -webkit-transform ease-out;
  transition: 0.6s -webkit-transform ease-out;
  -o-transition: 0.6s transform ease-out;
  transition: 0.6s transform ease-out;
  transition: 0.6s transform ease-out, 0.6s -webkit-transform ease-out;
}
.thumbnail:hover a, .thumbnail:active a, .thumbnail:focus a {
  text-decoration: none;
}

.modal-lg {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.modal-lg .modal-content {
  min-height: 100vh !important;
}

.modal .modal-content {
  background-color: #333333;
  color: white;
}
.modal .modal-content .modal-header {
  border-bottom: 1px solid #515151;
}
.modal .modal-content .modal-header .close {
  color: #ffffff;
}
.modal .modal-content .modal-header .modal-title {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  color: #ffffff;
}
.modal .modal-content .modal-body h5 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 0rem;
  color: #e6e7e8;
}
.modal .modal-content .modal-body p, .modal .modal-content .modal-body ul {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #d1d3d4;
}
.modal .modal-content .modal-body a {
  color: #d1d3d4;
}
.modal .modal-content .modal-body a:hover, .modal .modal-content .modal-body a:focus {
  text-decoration: underline;
}

.collapsing {
  -webkit-transition: height 450ms ease;
  -o-transition: height 450ms ease;
  transition: height 450ms ease;
}

#p5Container {
  position: fixed;
}
#p5Container canvas {
  position: fixed;
  top: 0;
  left: 0;
}

.social-icons {
  position: fixed;
  bottom: 3em;
  right: 4em;
  z-index: 2;
}
.social-icons ul li {
  font-size: 1.5rem;
  margin-left: 1rem;
}
.social-icons ul li a {
  color: white;
}
@media (max-width: 991px) {
  .social-icons {
    bottom: 0.5rem;
    right: 1rem;
  }
  .social-icons ul li {
    font-size: 1.5rem;
    margin-left: 1rem;
  }
}

.about-me ul {
  color: white;
  position: fixed;
  top: 2.5em;
  right: 4em;
  font-size: 1.5rem;
  z-index: 2;
}
.about-me ul li {
  padding-left: 1em;
}
.about-me ul li a {
  color: white;
}
@media (max-width: 991px) {
  .about-me ul {
    top: 0.5rem;
    right: 1rem;
  }
}
.about-me .modal .modal-dialog {
  z-index: 2000;
}