div.card {
  background-color: rgba(0, 0, 0, 0); }
  div.card div.card-header {
    height: calc(100vh / 6);
    background-color: rgba(0, 0, 0, 0); }
    div.card div.card-header div {
      height: 100%; }

body {
  background-color: #111111; }

svg {
  height: 100%;
  max-width: 80vw; }
  svg path {
    stroke: white;
    stroke-width: 1px; }

div[aria-expanded="true"] svg path {
  fill: white;
  -webkit-transform: fill 1s ease-out;
  -ms-transform: fill 1s ease-out;
  transform: fill 1s ease-out; }

#headingZero {
  height: calc(100vh / 6 * 2); }
  #headingZero svg path {
    fill: white; }

div.thumbnail {
  margin-bottom: 1rem; }
  div.thumbnail img {
    margin-bottom: 0.5rem; }
  div.thumbnail p {
    -webkit-transition: 0.3s -webkit-transform ease-out;
    transition: 0.3s -webkit-transform ease-out;
    -o-transition: 0.3s transform ease-out;
    transition: 0.3s transform ease-out;
    transition: 0.3s transform ease-out, 0.3s -webkit-transform ease-out;
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    letter-spacing: 0.05rem;
    margin-bottom: 0; }
  div.thumbnail c {
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.05rem; }
  div.thumbnail:hover, div.thumbnail:active, div.thumbnail:focus {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
    div.thumbnail:hover a, div.thumbnail:active a, div.thumbnail:focus a {
      text-decoration: none; }

.modal-content {
  background-color: #333333;
  color: white; }
  .modal-content .modal-header {
    border-bottom: 1px solid #515151; }
    .modal-content .modal-header .close {
      color: #ffffff; }
    .modal-content .modal-header .modal-title p {
      font-family: 'Roboto Mono', monospace;
      font-weight: 500;
      color: #ffffff; }
  .modal-content .modal-body h5 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 0rem;
    color: #e6e7e8; }
  .modal-content .modal-body p, .modal-content .modal-body ul {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    margin-top: 2rem;
    margin-bottom: 1rem;
    color: #d1d3d4; }
  .modal-content .modal-body a {
    color: #d1d3d4; }
    .modal-content .modal-body a:hover, .modal-content .modal-body a:focus {
      text-decoration: underline; }

.collapsing {
  -webkit-transition: height 450ms ease;
  -o-transition: height 450ms ease;
  transition: height 450ms ease; }

#p5Container {
  position: fixed; }
  #p5Container canvas {
    width: 300px;
    position: absolute;
    top: 0;
    left: 0; }
