
<div class="col-md-6 col-lg-4 thumbnail">
  <div class="text-center"><a href="#" data-toggle="modal" data-target="#DrPepper"><img class="img-fluid lazy" data-src-lazy="assets/img/motion/DrPepper_thumbnail.jpg"/>
      <p class="text-center text-light">Dr. Pepper Spot pub</p></a></div>
</div>
<div class="modal fade" id="DrPepper" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header container">
        <h4 class="modal-title">Dr. Pepper Spot pub</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body container">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="img-fluid lazy" data-src-lazy="https://player.vimeo.com/video/414738791" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <p>Title Sequence pour le film Inception de Christopher Nolan.</p>
        <ul class="list-unstyled"></ul>
        <ul class="list-unstyled">
          <li>Spot Pub Dr Pepper, projet étudiant</li>
          <li>réalisé avec : Salomé Barbot et Théo Lafenetre</li>
          <li>Musique&nbsp;:</li>
          <li>Grace - You Dont Own Me - Teresa Marrero Cover</li>
        </ul>
      </div>
    </div>
  </div>
</div>