
<div class="col-md-6 col-lg-4 thumbnail">
  <div class="text-center"><a href="#" data-toggle="modal" data-target="#Showreel2019"><img class="img-fluid lazy" data-src-lazy="assets/img/motion/showreel_thumbnail.jpg"/>
      <p class="text-center text-light">Showreel 2019</p></a></div>
</div>
<div class="modal fade" id="Showreel2019" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header container">
        <h4 class="modal-title">Showreel 2019</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body container">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="img-fluid lazy" data-src-lazy="https://player.vimeo.com/video/342811450" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <ul class="list-unstyled">
          <h5>Musique&nbsp;:</h5>
          <li>MusicToday80</li>
          <li>Attribution 3.0 Unported (CC BY 3.0)</li>
          <li> Music provided by Free Vibes</li>
        </ul>
      </div>
    </div>
  </div>
</div>