:root {
  --primary: #00FFD8;
  --duotone-darken: --primary;
  --duotone-lighten: #25292e; }

.text-primary {
  color: var(--primary) !important; }

* {
  font-family: Montserrat;
  font-weight: 500;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

body {
  background-color: black; }

.duotone::before {
  background-color: var(--primary);
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
  position: absolute;
  top: 0;
  left: 0; }

.duotone::after {
  background-color: var(--duotone-lighten);
  -webkit-transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.4, 0, 0.2, 1;
  -o-transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.4, 0, 0.2, 1;
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0.4, 0, 0.2, 1;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  mix-blend-mode: lighten;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; }

#hero {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.4, 0, 0.2, 1;
  -o-transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.4, 0, 0.2, 1;
  transition: 0.6s cubic-bezier(0.4, 0, 0.2, 1) 0.4, 0, 0.2, 1; }
  #hero #bg {
    pointer-events: none;
    z-index: -10;
    position: fixed;
    height: 100%;
    width: 100%;
    background-image: url("../img/heroBg.jpg");
    background-size: cover;
    opacity: 1;
    -webkit-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.4, 0, 0.2, 1;
    -o-transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.4, 0, 0.2, 1;
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) 0.4, 0, 0.2, 1; }
  #hero .col-md-6 aside {
    position: absolute;
    bottom: 0; }
  #hero .scroll-cta {
    position: absolute;
    bottom: 2.5em;
    left: 50%;
    z-index: 100;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  #hero .display-1 {
    margin-left: -0.09em;
    font-weight: 600; }
  #hero #hero-text {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  #hero #nav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 767px) {
      #hero #nav {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start; } }
    #hero #nav nav #lottie-container {
      height: 64px;
      width: 64px;
      -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      -o-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
      #hero #nav nav #lottie-container * {
        stroke: var(--primary); }
    #hero #nav nav ul {
      line-height: 3em;
      margin-left: 10px; }
      #hero #nav nav ul li a {
        font-weight: 400;
        -webkit-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        -o-transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1); }
      #hero #nav nav ul #btn-1.active a {
        font-weight: 800;
        color: red !important; }
      #hero #nav nav ul #btn-2.active a {
        font-weight: 800;
        color: aqua !important; }
      #hero #nav nav ul #btn-3.active a {
        font-weight: 800;
        color: lime !important; }
