
<div class="col-md-6">
  <div class="text-center">
    <p href="#" data-toggle="modal" data-target="#anamnesis"><img class="img-fluid" src="https://i.vimeocdn.com/video/679712011_1280x720.jpg"/></p>
  </div>
</div>
<div class="modal fade" id="anamnesis" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Anamnesis</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://player.vimeo.com/video/252948828" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>
</div>