//- À MODIFIER
-var titre = "Anamnesis" // TITRE
-var titreShort = "anamnesis" // UN SEUL MOT QUI DESIGNE LE CONTENU
-var thumbnail = "assets/img/motion/anamnesis_thumbnail.jpg" // MINIATURE

//- NE RIEN TOUCHER
div.col-md-6.col-lg-4.thumbnail
  div.text-center
    a(href="#" data-toggle="modal" data-target="#" + titreShort)
      img.img-fluid.lazy(data-src-lazy=thumbnail)
      p.text-center.text-light= titre

div.modal.fade(id=titreShort tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
  div.modal-dialog.modal-lg
    div.modal-content
      div.modal-header.container
        h4.modal-title= titre
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      div.modal-body.container
        //- À MODIFIER (CONTENU DE LA PAGE)

        div.embed-responsive.embed-responsive-16by9
          iframe.img-fluid.lazy(data-src-lazy="https://player.vimeo.com/video/341531202" frameborder="0" allowfullscreen)
        p Très court métrage réalisé à New York City dans le cadre des cours de vidéo Art à Pratt Institute.
        ul.list-unstyled
          li Acteurs&nbsp;:
          li
            a(href="http://morganeprottengeier.fr/" target="_blank") Morgane Prottengeier
          li
            a(href="https://hugodepagniat.dyjix.fr/" target="_blank") Hugo Depagniat
        ul.list-unstyled
          li Musique&nbsp;:
          li Merlean - Creepy regrets 9
          li Epidemic Sound
    
        
      
