//- À MODIFIER
-var titre = "Showreel 2019" // TITRE
-var titreShort = "Showreel2019" // UN SEUL MOT QUI DESIGNE LE CONTENU
-var thumbnail = "assets/img/motion/showreel_thumbnail.jpg" // MINIATURE

//- NE RIEN TOUCHER
div.col-md-6.col-lg-4.thumbnail
  div.text-center
    a(href="#" data-toggle="modal" data-target="#" + titreShort)
      img.img-fluid.lazy(data-src-lazy=thumbnail)
      p.text-center.text-light= titre

div.modal.fade(id=titreShort tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
  div.modal-dialog.modal-lg
    div.modal-content
      div.modal-header.container
        h4.modal-title= titre
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      div.modal-body.container
        div.embed-responsive.embed-responsive-16by9
          iframe.img-fluid.lazy(data-src-lazy="https://player.vimeo.com/video/342811450" frameborder="0" allowfullscreen)
          h5 Musique&nbsp;:
          p MusicToday80
          p Attribution 3.0 Unported (CC BY 3.0)
          p  Music provided by Free Vibes
    
            
          
