//- À MODIFIER
-var titre = "Ange" // TITRE
-var titreShort = "ange" // UN SEUL MOT QUI DESIGNE LE CONTENU
-var thumbnail = "assets/img/3D/angel.jpg" // MINIATURE

//- NE RIEN TOUCHER
div.col-md-6.col-lg-4.thumbnail
  div.text-center
    a(href="#" data-toggle="modal" data-target="#" + titreShort)
      img.img-fluid.lazy(data-src-lazy=thumbnail)
      p.text-center.text-light= titre
      c.text-center.text-light Sculpting

div.modal.fade(id=titreShort tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
  div.modal-dialog.modal-lg
    div.modal-content
      div.modal-header.container
        h4.modal-title= titre
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      div.modal-body.container
          
        //- À MODIFIER (CONTENU DE LA PAGE)
        img.img-fluid.lazy(data-src-lazy="assets/img/3D/angel.jpg")
        
        h5 Sculpting
        p J'ai réalisé le Sculpting de se modèle à partir d'un modèle d'humain pré-existant. Ce rendu est un premier pas dans la découverte de l'intérface et des outils de Blender 2.8, logiciel open-source et donc entièrement gratuit d'uttilisation.
        
        img.img-fluid.lazy(data-src-lazy="assets/img/3D/angelSculpt.jpg")
      
        h5 Shading et Post-Processing
        p Le Shading a été effectué sur Blender 2.8 et constitue ma première approche du moteur de rendu Eevee. Le post-processing quant à lui, a été effectué sur AfterEffects.
        
        img.img-fluid.lazy(data-src-lazy="assets/img/3D/angelBreakdown.jpg")

      
