//- À MODIFIER
-var titre = "Skulls" // TITRE
-var titreShort = "skulls" // UN SEUL MOT QUI DESIGNE LE CONTENU
-var thumbnail = "assets/img/3D/skulls0.jpg" // MINIATURE

//- NE RIEN TOUCHER
div.col-md-6.col-lg-4.thumbnail
  div.text-center
    a(href="#" data-toggle="modal" data-target="#" + titreShort)
      img.img-fluid.lazy(data-src-lazy=thumbnail)
      p.text-center.text-light= titre

div.modal.fade(id=titreShort tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
  div.modal-dialog.modal-lg
    div.modal-content
      div.modal-header.container
        h4.modal-title= titre
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      div.modal-body.container
          
        //- À MODIFIER (CONTENU DE LA PAGE)
        img.img-fluid.lazy(data-src-lazy="assets/img/3D/skulls0.jpg")
    
        
      
