
<div class="col-md-6 col-lg-4 thumbnail">
  <div class="text-center">
    <p href="#" data-toggle="modal" data-target="#undwmanhattan"><img class="img-fluid" src="assets/img/photo/_1000859.jpg"/>
      <p class="text-center text-light">Underwater Manhattan</p>
    </p>
  </div>
</div>
<div class="modal fade" id="undwmanhattan" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Underwater Manhattan</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body"><img class="img-fluid" src="assets/img/photo/_1000859.jpg"/></div>
    </div>
  </div>
</div>