<!DOCTYPE html>
html(lang="en")

meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title Document
link(rel="stylesheet", href="assets/css/bootstrap.min.css")
link(rel="stylesheet", href="assets/css/style.css")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js")


.container-fluid
  #accordionExample.accordion
    .card
      #headingZero.card-header
        h1 Logo
    .card
      #headingOne.card-header
        h5.mb-0
          button.btn.btn-link(type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne") Categorie 1
      #collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordionExample")
        .card-body
          .container
            .row
              include projets/exempleYoutube.pug
              include projets/exempleVimeo.pug
    .card
      #headingTwo.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
            | Collapsible Group Item #2
      #collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordionExample")
        .card-body
    .card
      #headingThree.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
            | Collapsible Group Item #3
      #collapseThree.collapse(aria-labelledby="headingThree" data-parent="#accordionExample")
        .card-body
    .card
      #headingFour.card-header
        h5.mb-0
          button.btn.btn-link.collapsed(type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
            | Collapsible Group Item #3
      #collapseFour.collapse(aria-labelledby="headingFour" data-parent="#accordionExample")
        .card-body
          p lorem
          p ipsum
          p Oui

script.
  $('#collapseOne').on('shown.bs.collapse', function () {
    $('html, body').animate({
       scrollTop: $("#collapseOne").offset().top
    }, 600);
  });
  $('#collapseFour').on('shown.bs.collapse', function () {
    $('html, body').animate({
       scrollTop: $("#collapseFour").offset().top
    }, 600);
  });