doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    title Charlie Delahousse
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css")
    link(rel="stylesheet" href="css/style.css")

  body
    div.container
      div.row
        div.col-md-6
          h1 Charlie Delahousse
        div.col-md-6
          div#btn-1.row-33
            h2 Catégorie 1
          div#btn-2.row-33
            h2 Catégorie 2
          div#btn-3.row-33
            h2 Catégorie 3
          div#button-bg
            div#animation

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.4.4/lottie.min.js")
    script(src="js/index.js", type="text/javascript")
