<!DOCTYPE html>
html(lang="en")
meta(charset="UTF-8")

meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
title Document
link(rel="stylesheet", href="assets/css/bootstrap.min.css")
link(rel="stylesheet", href="assets/css/style.css")
link(href="https://fonts.googleapis.com/css?family=Roboto+Mono:500&display=swap")


.container-fluid
  #accordionExample.accordion

    #title.card
      #headingZero.card-header
        include partials/svg/name.pug

    #motion.card
      #headingOne.card-header
        div.collapsed(data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne")
          include partials/svg/motion.pug
      #collapseOne.collapse(aria-labelledby="headingOne" data-parent="#accordionExample")
        .card-body
          .container-fuid
            .row
              include partials/projets/motion/anamnesis.pug
              include partials/projets/motion/pennyDreadful.pug

    #interaction.card
      #headingTwo.card-header
        div.collapsed(data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo")
          include partials/svg/interaction.pug
      #collapseTwo.collapse(aria-labelledby="headingTwo" data-parent="#accordionExample")
        .card-body
          .container-fuid
            .row
              include partials/projets/interaction/BnFGallica.pug

    #3dart.card
      #headingThree.card-header
        div.collapsed(ype="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree")
          include partials/svg/3dart.pug
      #collapseThree.collapse(aria-labelledby="headingThree" data-parent="#accordionExample")
        .card-body
          .container-fuid
            .row
              include partials/projets/3D/lotrMap1.pug
              include partials/projets/3D/angel.pug
              include partials/projets/3D/clearSky.pug
              include partials/projets/3D/skulls.pug

    #photography.card
      #headingFour.card-header
        div.collapsed(data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour")
          include partials/svg/photography.pug
      #collapseFour.collapse(aria-labelledby="headingFour" data-parent="#accordionExample")
        .card-body
          .container-fuid
            .row

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js")
script(src="assets/js/index.js")
