//- À MODIFIER
-var titre = "Destiny/Fate (Keep Going)" // TITRE
-var titreShort = "destinyFate" // UN SEUL MOT QUI DESIGNE LE CONTENU
-var thumbnail = "https://i.vimeocdn.com/video/679712011_1280x720.jpg" // MINIATURE
-var videoLink = "https://vimeo.com/252948828"

//- NE RIEN TOUCHER
.col-6
  .text-center
    p(href="#" data-toggle="modal" data-target="#" + titreShort)
      img.img-fluid(src=thumbnail)
div.modal.fade(id=titreShort tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true")
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        h4.modal-title= titre
        button.close(type="button" data-dismiss="modal" aria-label="Close")
          span(aria-hidden="true") ×
      .modal-body
        div.embed-responsive.embed-responsive-16by9
          iframe(src=videoLink frameborder="0" allowfullscreen)
        //- À MODIFIER (CONTENU DE LA PAGE)
        p Lorem ipsum